<div class="container">
    <h2>Update Appointments</h2>

    <form [formGroup]="appointmentForm" (ngSubmit)="updateAppointments()">

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Appointment Name</mat-label>
            <input matInput type="text" placeholder="Appointment Name" formControlName="appointmentName">

            <mat-error *ngIf="appointmentForm.get('appointmentName')?.hasError('required')">This input is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Patient Name</mat-label>
            <input matInput type="text" placeholder="Patient Name" formControlName="patientName">

            <mat-error *ngIf="appointmentForm.get('patientName')?.hasError('required')">This input is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Choose Appointment date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="appointmentDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <mat-error *ngIf="appointmentForm.get('appointmentDate')?.hasError('required')">This input is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Test Name</mat-label>
            <input matInput type="text" placeholder="Test Name" formControlName="testName">

            <mat-error *ngIf="appointmentForm.get('testName')?.hasError('required')">This input is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Update Appointment</button>
    </form>
</div>
