<div class="container">
    <h2>Update Test</h2>

    <form [formGroup]="testForm" (ngSubmit)="updateProduct()">

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Select a Technician</mat-label>
            <mat-select formControlName="techId" name="techId">
                <mat-option *ngFor="let technician of listOfTechnicians" [value]="technician.technicianId">
                    {{technician.firstname}}
                </mat-option>

                <mat-error *ngIf="testForm.get('techId')?.hasError('required')">This input is required</mat-error>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="testName">

            <mat-error *ngIf="testForm.get('testName')?.hasError('required')">This input is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" formControlName="description">

            <mat-error *ngIf="testForm.get('description')?.hasError('required')">This input is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="Price" formControlName="price">

            <mat-error *ngIf="testForm.get('price')?.hasError('required')">This input is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Update Test</button>
    </form>
</div>
