<!-- <form [formGroup]="searchTestForm" class="search-form" (submit)="submitForm()">
    <mat-form-field appearance="outline" class="search-input">
        <mat-label>Enter keyword to search</mat-label>
        <input matInput formControlName="title">

        <button mat-button matSuffix color="primary" [disabled]="searchTestForm.invalid">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</form>


<div class="test-list">

    <mat-card class="test-card" *ngFor="let test of tests">
        
        <div class="test-details">
            <h1 class="test-name">{{test.testName}}</h1>
            <p class="test-description">{{test.description}}</p>

            <mat-divider></mat-divider>
            <div class="test-info">
                <div class="info-row">
                    <span class="info-label">Price:</span>
                    <span class="info-value">Rs.{{test.price}}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Technician: </span>
                    <span class="info-value">Mr/Miss.{{test.techName}}</span>
                </div>
            </div>

            <mat-divider></mat-divider>





        </div>
    </mat-card>
</div> -->


<!-- <mat-card class="example-card" *ngFor="let test of tests">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Test Name:{{test.testName}}</mat-card-title>
        <mat-card-subtitle>Price:{{test.price}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{test.description}}
    </mat-card-content>
  </mat-card> -->

